<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>Search results: "{{search.searchTerm}}"</h4>
            <p>
            	Enzymes:
            	<span id="spinEnzymes" class="spin" ng-if="search.enzymesSearching">searching... &nbsp;</span>
            	<span ng-if="!search.enzymesSearching">{{search.enzymes.length || "0"}} found </span>
            </p>
	        <enzymes-table enzymes="search.enzymes"></enzymes-table>
            <p>
            	Compounds:
            	<span id="spinCompounds" class="spin" ng-if="search.compoundsSearching">searching... &nbsp;</span>
            	<span ng-if="!search.compoundsSearching">{{search.compounds.length || "0" }} found</span>
            </p>
	        <compounds-table compounds="search.compounds"></compounds-table>
        </div>
    </div>
</div>