<div class="panel panel-primary" id="step1">
    <div class="panel-body">
        <div class="row">
            <form id="loginForm" name="loginForm" data-ng-submit="login.authenticate()">
                <div class="col-sm-5 text-right">
                    <label class="control-label">Admin password</label>
                </div>
                <div class="form-group col-sm-3">
                    <input type="password" class="form-control" required ng-model="login.password">
                </div>
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">$.material.init();</script>